# ===================================================================
# FRONTEND CONFIGURATION - TEMPLATE/EXAMPLE ENVIRONMENT (VITE) - USER APP (GUEST)
# Sao chép file này thành .env.development hoặc .env.production và cập nhật giá trị tương ứng
# ===================================================================

VITE_API_BASE_URL=http://localhost:8080/api/
VITE_IMG_BASE_URL=http://localhost:8080
